* {
	padding: 0px;
	margin: 0px;
}

.content { 
	position: relative;
	z-index: 10;
}

body {
	font-family: 'NeutralBP-Medium';
	font-family: 'Times New Roman', 'Times', serif;
	font-family: arial, helvetica, sans-serif;

	font-size: 16px;
	line-height: 24px;
	background-color: white;
	color: black;
	widows: 2;
}

a {
	color: black;
	text-decoration: underline;
}

h1, h2, h3, h4 {
	font-weight: normal;
	margin-bottom: 36px;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
}

h2 {
	font-weight: bold;
}

#message {
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
}


h3, h4 { text-align: left; }

h4 {margin-bottom: 0px;}

p { margin-bottom: 36px; }

ul, li {
	list-style-type: none;
	padding: 0px 0px 0px 10px;
}

ul { margin-bottom: 36px; }

.coltwo h1 {
	font-size: 30px;
	line-height: 40px;	
	text-align: left;	
}

.content {
	padding: 0;
	width: 1200px;
	margin: auto;
	display: block;
}

.content::after {
	display: block;
	clear: both;
	content: " ";
	width: 0;
	height: 0;
}

/* logos */

#a47 {
	margin: 0px auto;
	width: 55px;
	height: 58.5px;
	background: url(/img/a47.png) no-repeat center center;
	text-indent: -1000000px;
	display: block;
	background-size: contain;

    transform: translate(560px, -80px);
}

#alumnos {
	width: 155.75px;
	height: 22.5px;
	background: url(/img/alumnos.png) no-repeat center center;
	text-indent: -1000000px;
	display: block;
	background-size: contain;
}


/* site overlay */

#overlay {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,.5);
	z-index: 10000;
	display: none;

 	transition: all 500ms ease-in-out;

}

#message {
	width: 300px;	
	height: 200px;
	padding: 40px 30px 20px;
	position: absolute;
	left: 50%;
	margin-left: -175px;
	background: white;
	color: black;
}

#overlay.overlay-on{
	display: block;
}

#close {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 5px;
	height: 5px;
	padding: 10px 14px 10px 7px;
	line-height: 5px;
	text-align: center;
	font-size: 24px;
	cursor: pointer;
}

#close span::before, #close span::after{
  cursor: pointer;
  border-radius: 0px;
  height: 2px;
  width: 11px;
  background: black;
  position: absolute;
  display: block;
  content: '';	
}

#close span::before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#close span::after {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#language-toggle {
	position: fixed;
	bottom: 15px;
	left: 15px;
	z-index: 10001;
	text-decoration: underline;
}

#language-toggle a {
	text-decoration: underline;
}

#language-toggle:hover, #language-toggle a:hover {
	text-decoration: none;
}

/* navigation */

#nav-toggle { 
	/*border: 2px solid black;*/
	position: fixed; right: 20px; top: 20px; 
	z-index: 1000;
	cursor: pointer; 
	padding: 11px 18px 13px 7px; 
	border-radius: 100px;
}

#nav-toggle span, #nav-toggle span::before, #nav-toggle span::after {
  cursor: pointer;
  border-radius: 0px;
  height: 2px;
  width: 11px;
  background: black;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span::before {
  top: -4px; 
}
#nav-toggle span::after {
  bottom: -4px;
}

#nav-toggle span, #nav-toggle span::before, #nav-toggle span::after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span::before, #nav-toggle.active span::after {
  top: 0;
}
#nav-toggle.active span::before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-toggle.active span::after {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav {
	width: 100%;
	height: 0;
	overflow: scroll;
	background: rgba(255,255,255,1);
	position: fixed;
	top: 0px;
	left: 0px;

	pointer-events: none;
	opacity: 0;

	z-index: 100;
	transition: all 500ms ease-in-out;

}

#nav ul{	
	text-align: center;
	font-size: 65px;
	line-height: 110px;
	padding: 100px;
	font-weight: 100;
	opacity: 0;

	transform: translateY(30px);
	transition: all 800ms ease;

}

#nav ul li a{
	text-decoration: none;
	background-image: linear-gradient(to top,
    	rgba(0,0,0,0) 5%,
    	rgba(0,0,0,0) 5%,
    	rgba(0,0,0,0) 12%,
    	rgba(0,0,0,0) 12%
    );
}

#nav ul li a:hover {
	color: black;
	text-decoration: none;
	background-image: linear-gradient(to top,
    	rgba(0,0,0,0) 5%,
    	rgba(0,0,0,1) 5%,
    	rgba(0,0,0,1) 10%,
    	rgba(0,0,0,0) 10%
    );
}


#nav.active {
	pointer-events: all;
	opacity: 1;
	height: 100vh;
}

#nav.active ul{
	opacity: 1;
	transform: translateY(0px);
}

/* selected items */

.navigated .section, .navigated .section-title {
	opacity: 0;
}

.navigated .section.selected {
	opacity: 1;
}

.navigated #nav ul li a {
	color: black;
	background-image: linear-gradient(to top,
    	rgba(0,0,0,0) 5%,
    	rgba(0,0,0,0) 5%,
    	rgba(0,0,0,0) 10%,
    	rgba(0,0,0,0) 10%
    );	
}

.navigated #nav ul li a::hover {
	color: black;
	background-image: linear-gradient(to top,
    	rgba(0,0,0,0) 5%,
    	rgba(0,0,0,1) 5%,
    	rgba(0,0,0,1) 10%,
    	rgba(0,0,0,0) 10%
    );	
}

.navigated #nav ul li a.selected {
	color: black;
	text-decoration: none;
	background-image: linear-gradient(to top,
    	rgba(0,0,0,0) 5%,
    	rgba(0,0,0,1) 5%,
    	rgba(0,0,0,1) 10%,
    	rgba(0,0,0,0) 10%
    );
}


/* counter */

#counter {
	position: fixed;
	bottom: 5px;
	right: 5px;

	-webkit-transform: rotate(90deg) translateX(1em);
	-ms-transform: rotate(90deg) translateX(1em);
	transform: rotate(90deg) translateX(1em);
	
	-webkit-transform-origin: top right;
	-ms-transform-origin: top right;
	transform-origin: top right;
	
	z-index: 1000;
}

/* title */

h1#logo {
	margin-top: 100px;
	text-align: left;
	width: 1200px;
	margin: 100px auto 0;	
	position: relative;
	z-index: 1000;

	font-weight: bold;
	cursor: pointer;
}

h1#background-type {
	position: fixed;
	top: 50%;
	margin-top: -62px;
	left: 50%;
	margin-left: -352px;

	height: 104px;
	width: 704px;

	font-size: 99px;

	font-family: 'Times New Roman', 'Times', serif;

	/*	
	background: url(/img/background-type.png) no-repeat center center;
	background-size: contain;

	text-indent: -1000000px;*/
	opacity: 0;
	
	letter-spacing: -1px;
	z-index: 1;
	transition: opacity 300ms ease-in-out;

}

h1#background-type.show {
	opacity: .3;
}


/* page structure */

.col {
	float: left;
	margin-left: 32px;
}

.colone {
	margin-left: 0px;
}

.colone, .colthree {
	width: 335px;
}

.coltwo, .colfour {
	width: 215px;
}

/* info links */

.colfour ul, .colfour li{
	padding-left: 0px;
}

.colfour a{
}

.colfour a::after{
	content: " \2192";
	width: 0px;
	display: inline-block;
	opacity: 0;
    transition: width 300ms ease, opacity 100ms ease;
    -ms-transition: width 300ms ease, opacity 100ms ease;
    -webkit-transition: width 300ms ease, opacity 100ms ease;
    -moz-transition: width 300ms ease, opacity 100ms ease;
    -o-transition: width 300ms ease, opacity 100ms ease;  	
}


.colfour a:hover:after {
	content: " \2192";
	width: 23px;
	display: inline-block;
	opacity: 1;	
}

/* cycling images */

.image {
	margin-bottom: 36px;
}

img {
	width: 100%;
}


/* layout changes */

#extra-parameters {
}


/* showing */

.revision {
	display: none;
}

.rev-0 div.revision.rev-0,
.rev-1 div.revision.rev-1,
.rev-2 div.revision.rev-2 {
	display: block;
}

.rev-0 span.revision.rev-0,
.rev-1 span.revision.rev-1,
.rev-2 span.revision.rev-2 {
	display: inline;
}

/* marks */


/* old-0 is plain old version
 * old-1 is old version with strikethroughs
 * old-2 is old version with invisible strikethroughs
 * new-2 is new version with invisible underlines
 * new-1 is new version with underlines
 * new-0 is plain new version
 */ 

/* <del> is old revision, <ins> is new */

/* clear out the default strikethrough / underline */
ins, del { 
	text-decoration: none;
}

span.diff-html-changed {
	display: none;
}

.marks .revision ins, .marks .revision del {
	position: relative;
}

.old-0 .revision ins, .old-1 .revision ins, .old-2 .revision ins,
.new-2 .revision del, .new-1 .revision del, .new-0 .revision del {
	display: none;
}

.marks.old-2 .revision del, 
.marks.new-2 .revision ins {
	color: rgba(0,0,0,0);
}

.marks.old-2 .revision .image, 
.marks.new-2 .revision .image {
	background: url(/img/black-x.gif) no-repeat center center;
	background-size: 100% 100%;
	width: 100%;
}

.marks.old-2 .revision .image img, 
.marks.new-2 .revision .image img {
	opacity: 0;
}

/* marks */

.marks:not(.old-0) .revision del:not(.punctuation):not(.capitalize):not(.lowercase):not(.diacritic) {
	background: url(/img/black-dot.gif) 0px 8px repeat-x;
	background: url(/img/curve.png) center 2px repeat-x;
}

.marks:not(.old-0) .coltwo .revision h1 del:not(.punctuation):not(.capitalize):not(.lowercase):not(.diacritic) {
	background: url(/img/black-dot.gif) 0px 8px repeat-x;
	background: url(/img/curve.png) center 11px repeat-x;
}

.marks:not(.old-0) .revision .large del:not(.punctuation):not(.capitalize):not(.lowercase):not(.diacritic) {
	background: url(/img/black-dot.gif) 0px 16px repeat-x;
}

.marks:not(.new-0) .revision ins:not(.punctuation):not(.capitalize):not(.lowercase):not(.diacritic) {
	background: url(/img/black-dot.gif) 0px 15px repeat-x;
}

.marks.new-1 .revision ins.punctuation::after,
.marks.new-2 .revision ins.punctuation::after {
	display: block;
	position: absolute;
	left: -14px;
    top: -3px;
	width: 32px;
	height: 34px;
	background: url(/img/black-punctuation.gif) left bottom no-repeat;
	background-size: cover;
    content: " ";
}

.marks.old-1 .revision del.capitalize::after,
.marks.old-2 .revision del.capitalize::after,
.marks.new-1 .revision ins.capitalize::after,
.marks.new-2 .revision ins.capitalize::after {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
	width: 10px;
    height: 25px;
    background: url(/img/black-3-line.gif) left bottom repeat-x;
    content: " ";
}

/* diacritics */

.marks.old-1 .revision del.diacritic::after,
.marks.old-2 .revision del.diacritic::after,
.marks.new-1 .revision ins.diacritic::after,
.marks.new-2 .revision ins.diacritic::after {
	display: block;
	position: absolute;
	left: -11px;
    top: -7px;
	width: 32px;
	height: 34px;
	background: url(/img/black-punctuation.gif) left bottom no-repeat;
	background-size: cover;
    content: " ";
}


/*
.marks .revision .umlaut {
    width: 10px;
    height: 25px;
    background: url(/img/black-umlaut.gif) left top no-repeat;
    display: block;
    position: absolute;
    left: 0px;
    top: 2px;
}

.marks .revision .loweracute {
	width: 10px;
    height: 10px;
    background: url(/img/black-loweracute.gif) left top no-repeat;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
}
*/

.marks.old-1 .revision del.lowercase::after,
.marks.old-2 .revision del.lowercase::after,
.marks.new-1 .revision ins.lowercase::after,
.marks.new-2 .revision ins.lowercase::after {
    display: block;
    position: absolute;
    left: -2px;
    top: -1px;
    height: 20px;
    background: url(/img/black-lowercase.gif) left top no-repeat;
    background-size: contain;
    width: 14px;
    content: " ";
}

/*
.marks .revision .return {
    width: 25px;
    height: 45px;
    background: url(/img/pillcrow.png) left top no-repeat;
    display: block;
    position: relative;
    left: 0px;
    top: 0px;
}
*/

/* image */

body #extra-parameters.images .section div {
	position: relative;
	z-index: 10;
}


body #extra-parameters.images .image {
	position: absolute;
	max-width: 300px;
	height: auto;
	z-index: 1;
}

/* invert */


#extra-parameters.invert, #extra-parameters.invert a {
	color: black;
	background: white;
}


/* media queries */


/* smaller desktop to ipad horizontal */

@media only screen 
and (min-width : 1024px) 
and (max-width : 1200px)  { 
	body {
		font-size: 16px;
		line-height: 24px;
	}

	h1, h2, h3, h4 {
		margin-bottom: 30px;
		font-size: 16px;
		line-height: 24px;
	}

	h2, #message {
		font-size: 16px;
	}

	p { margin-bottom: 30px; }

	ul, li {
		padding: 0px 0px 0px 7px;
	}

	ul { margin-bottom: 30px; }

	.large {
		font-size: 24px;
		line-height: 32px;		
	}	

	h1#logo {
		width: 1000px;
	}

	.content {
		padding: 0px;
		width: 1000px;
	}

	/* page structure */

	.col {
		float: left;
		margin-left: 32px;
	}

	.colone {
		margin-left: 0px;
	}

	.colone, .colthree {
		width: 300px;
	}

	.coltwo, .colfour {
		width: 152px;
	}

	#nav {
	 	overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;		
	}


	/* logos */

	#a47 {
		width: 55px;
		height: 58.5px;
	    transform: translate(500px, -77px);
	}

	#alumnos {
		width: 155.75px;
		height: 22.5px;
	}


}


/* ipad vertical */

@media only screen 
and (min-width : 768px) 
and (max-width : 1023px)  { 
	body {
		font-size: 18px;
		line-height: 26px;
	}

	h1, h2, h3, h4 {
		margin-top: 100px;
		margin-bottom: 30px;
		font-size: 18px;
		line-height: 26px;
	}

	h4 {
		margin-top: 20px;
	}

	h2, #message {
		font-size: 18px;
	}

	p { margin-bottom: 40px; }

	ul, li {
		padding: 0px 0px 0px 20px;
	}

	ul { margin-bottom: 40px; }

	.large {
		font-size: 26px;
		line-height: 36px;		
	}	

	#counter {
		font-size: 12px;
	    bottom: 15px;
	    right: 15px;	
	}

	.content {
		padding: 0px;
		width: calc(100% - 64px);

		-webkit-column-count: 2;
		-webkit-column-gap: 40px;
		-webkit-column-fill: auto;
		-moz-column-count: 2;
		-moz-column-gap: 40px;
		-moz-column-fill: auto;
		column-count: 2;
		column-gap: 40px;
		column-fill: auto;
	}

	h1#logo {
		width: calc(100% - 64px);
	}

	/* page structure */

	.col {
		display: inline-block;
		-webkit-column-break-inside: avoid;
		-moz-column-break-inside: avoid;
		column-break-inside: avoid;		
		float: none;
		margin-left: 0px;
		margin-bottom: 250px;
	}

	.colone, .colthree, .coltwo, .colfour {
		width: 100%;
		float: left;
	}


	.visit-2, .visit-3 {
		margin-top: 100px;
	}	

	#message {
	}

	#nav {
	 	overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;		
	}

	/* logos */

	#a47 {

		position: absolute;
		top: 73px;
		right: 35px;
		width: 69px;
		height: 73px;
	    transform: translate(0px, 0px);
	}

	#alumnos {
		width: 234px;
		height: 34px;
	}


}


/* vertical ipad and below */

@media only screen 
and (max-width : 767px) { 
	body {
		font-size: 16px;
		line-height: 24px;
	}

	h1, h2, h3, h4 {
		margin-top: 100px;
		margin-bottom: 30px;
		font-size: 16px;
		line-height: 24px;
	}

	h4 {
		margin-top: 20px;
	}

	h2, #message {
		font-size: 16px;
	}

	p { margin-bottom: 30px; }

	ul, li {
		padding: 0px 0px 0px 20px;
	}

	ul { margin-bottom: 30px; }

	.large {
		font-size: 22px;
		line-height: 30px;		
	}	

	#counter {
		font-size: 12px;
	    bottom: 15px;
	    right: 15px;
	}


	.content {
		padding: 0px;
		width: calc(100% - 32px);
	}

	h1#logo {
		width: calc(100% - 32px);
	}

	/* page structure */

	.col {
		float: none;
		margin-left: 0px;
		margin-bottom: 250px;
	}

	.colone, .colthree, .coltwo, .colfour {
		width: 100%;
	}

	.visit-2, .visit-3 {
		margin-top: 100px;
	}

	#message {
		width: calc(100% - 120px);
		height: auto;
		padding: 40px 30px 20px;
		position: absolute;
		top: 50px;
		left: 0px;
		margin-top: 0px;
		margin-left: 30px;
		background: white;
		color: black;
	}

	#nav {
	 	overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;		
	}

	#nav ul {
	    font-size: 32px;
    	line-height: 68px;
    	padding: 200px 15px;
	}

	/* logos */

	#a47 {
		position: absolute;
		top: 73px;
		right: 15px;
		width: 66px;
		height: 70px;
	    transform: translate(0px, 0px);
	}

	#alumnos {
		width: 234px;
		height: 34px;
	}	

}
